<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sabsaath</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/contact">Contact us</a>
          </li>
        </ul>
      </div>
      <div class="d-flex">
        <a class="btn btn-success mx-3" href="/auth/logout">Logout</a>
      </div>
      <div>
      </div>
    </div>
  </nav>

  <div class="container my-5">
    <h1>Welcome, <%= name %>
    </h1>

    <!-- Creating Post  -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Create Post
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Create a New Post</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form class="modal-body" method="post" action="/post/create">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Title</span>
              <input type="text" class="form-control" placeholder="Post Title" aria-label="Username"
                aria-describedby="basic-addon1" name="title">
            </div>
            <div class="input-group">
              <span class="input-group-text">Description</span>
              <textarea class="form-control" aria-label="With textarea" placeholder="Post Description"
                name="description"></textarea>
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Post</button>
        </div>
        <div class="modal-footer">
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Posts -->
  <div class="container">
    <h1 class="my-3">Posts</h1>
    <div class="d-flex flex-row flex-wrap">
      <% posts.forEach(post=> { %>
        <div class="card mx-3 p-2 my-2" style="width: 18rem;">
          <h2>
            <%= post.title %>
          </h2>
          <p>
            <%= post.description %>
          </p>
        </div>
        <% }) %>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>